# python
__pycache__/
*.py[cod]

# distribution / packaging
build/
dist/
sdist/

# unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml

# translations
*.mo
*.pot

# sphinx documentation
docs/_build/

# dotenv
.env

# virtual environment
.venv/
venv/

# ruff
.ruff_cache/

# mypy
.mypy_cache/

# temporary file
~$*

# resources
resources/

# django
db.sqlite3
